GOOGLE_API_KEY=
MODELS=gemini-2.5-pro-preview-05-06
SYSTEM_INSTRUCTION=
SYSTEM_INSTRUCTION_FILE=SYSTEM_INSTRUCTION
VERSION=v1.1
ADMIN_PASSWORD=
EXPERIMENTAL=True
THINKING_BUDGET=24576
INCLUDE_THOUGHTS=